Q1.What are data structures, and why are they important?
ANS: Data structures organize and store data in a way that facilitates faster and more efficient processing of data. For analytics, they help manage datasets for operations like sorting, searching, or analysis.

Q2.Explain the difference between mutable and immutable data types with examples.
ANS: Mutable: Can be changed after creation; for example, lists: my_list = [1, 2] can become [1, 2, 3].
Immutable: Cannot be modified (for example, tuples: (1, 2) remains (1, 2)).

Q3.What are the main differences between lists and tuples in Python?
ANS: Lists are mutable and allow for append or removal operations, while tuples are immutable and preserve data integrity.

Q4.Describes how dictionaries store data.
Dictionaries store data as key-value pairs that allow fast access to data through unique keys. A phonebook is a classic example of this: names and phone numbers.

Q5.Why might you use a set instead of a list in Python?
ANS: Sets automatically eliminate duplicates and are faster to check for membership, e.g., finding unique elements in a dataset.

Q6. What is a string in Python, and how is that different from a list?
ANS: A string is an immutable sequence of characters, while a list is a mutable sequence of items. For example, you cannot change "abc" directly, but you can change a list [1, 2].

Q7. How do tuples ensure data integrity in Python?
ANS: Tuples are immutable, so the data that they contain can't be changed. That is why they are well suited to fixed data, such as coordinates.

Q8.What is a hash table and how does it relate to dictionaries in Python?
ANS: A hash table is the data structure utilized by dictionaries for fast lookups through hashing.

Q9.can lists contain different data types in Python?
ANS: Yes, lists can hold mixed types, e.g., [1, "text", 3.14], which is helpful in flexible data processing.

Q10.Explain why strings are immutable in Python.
ANS: For memory optimization and better performance, especially in caching operations and multi-threading:

Q11.What advantages do dictionaries offer over lists for certain tasks?
ANS: Dictionaries allow access by keys in constant time where lists need to search indices.

Q12.Describe a scenario where using a tuple would be preferable over a list.
ANS: Use the tuple to store immutable information, like a person's birth date, because changing it by mistake is difficult.

Q13.How do sets handle duplicate values in a python?
ANS: Sets automatically remove duplicates, so it will retain only unique items.

Q14.How does the "in" keyword work differently for lists and dictionaries?
ANS: Lists: Checks if a value exists.
Dictionaries: Checks if a key exists.

q15.Can you modify the elements of a tuple? Explain why or why not.
No, because tuples are immutable. You would have to make a new tuple instead.

Q16.What is a nested dictionary, and give an example of itd use case?
ANS: A dictionary within another dictionary. Example: { "person": { "name": "MOU", "age": 24 } }. Useful for storing complex, hierarchical data.

Q17.Describe the time complexity of accessing elements in a dictionary.
ANS: Average time complexity is O(1), thanks to hashing.

Q18.In what situations are lists preferred over dictionaries?
ANS: When maintaining ordered, indexed data or when key-based lookups arenâ€™t required.

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?
ANS: Traditionally, they did not preserve insertion order, so retrieval depended on keys, not order. (Note: Python 3.7+ preserves order.)

Q20.Explain the difference between a list and a dictionary in terms of data retrival.
ANS: Lists retrieve by index; dictionaries retrieve by key, which is faster.

In [5]:
#Write a code to create a string with your name and print it.

In [16]:
name = "Mou"
("My name is:", name)

('My name is:', 'Mou')

In [ ]:
#Write a code to find the length of the string "Hello World"

In [18]:
text = "Hello World"
("The length of the string is:", len(text))

('The length of the string is:', 11)

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"

In [19]:
text = "Python Programming"
("The first 3 characters are:", text[:3])

('The first 3 characters are:', 'Pyt')

In [ ]:
#Write a code to convert the string "hello" to uppercase.

In [20]:
text = "hello"
("Uppercase string:", text.upper())

('Uppercase string:', 'HELLO')

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [21]:
text = "I like apple"
(text.replace("apple", "orange"))

'I like orange'

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it.

In [22]:
numbers = [1, 2, 3, 4, 5]
(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].

In [23]:
numbers = [1, 2, 3, 4]
numbers.append(6)
(numbers)

[1, 2, 3, 4, 6]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [26]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
(numbers)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [27]:
letters = ['a', 'b', 'c', 'd']
(letters[1])

'b'

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].

In [28]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
(numbers)

[50, 40, 30, 20, 10]

In [ ]:
#Write a code to create a tuple with the elements 10, 20, 30 and print it..

In [29]:
my_tuple = (10, 20, 30)
(my_tuple)

(10, 20, 30)

In [ ]:
#Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [30]:
fruits = ('apple', 'banana', 'cherry')
(fruits[0])

'apple'

In [ ]:
#Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [31]:
my_tuple = (1, 2, 3, 2, 4, 2)
(my_tuple.count(2))

3

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [32]:
animals = ('dog', 'cat', 'rabbit')
(animals.index("cat"))

1

In [ ]:
#Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [33]:
fruits = ('apple', 'orange', 'banana')
("banana" in fruits)

True

In [ ]:
#Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [34]:
my_set = {1, 2, 3, 4, 5}
(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#Write a code to add the element 6 to the set {1, 2, 3, 4}

In [35]:
my_set = {1, 2, 3, 4}
my_set.add(6)
(my_set)

{1, 2, 3, 4, 6}

In [ ]:
# Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [36]:
my_tuple = (10, 20, 30)
(my_tuple)

(10, 20, 30)

In [ ]:
#Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [38]:
numbers = (1, 2, 3, 2, 4, 2)
count_of_two = numbers.count(2)
(count_of_two)

3